
/* EDIT */

/* .main-region {
    width: auto;
    max-width: 1200px;
    background-color: #fff;
    position: relative;
    margin-left: auto;
    margin-right: auto;
} */

.edit {
    margin-top: 5%;
    /* width: 50%; */
    color: black;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5%;
}

textarea {
    width: 5em;
    height: 2em;
}

.edit label {
    margin-right: 10px;
}
