body {
    font-family: "Montserrat","Montserrat Regular","Hevetica",Arial,sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

.header {
    height: auto;
    justify-content: inherit;
    align-items: inherit;
    min-width: 320px;
}

.main-region {
    width: auto;
    max-width: 1200px;
    background-color: #fff;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.bannerDiv {
    /* background-image: url(/Content/Images/HomePageBanners/banner-light.jpg); */
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 100%;
    height: 272px;
    padding-top: 2%;
    padding-left: 7%;
}

div#public-home h3 {
    font-size: 26px;   
}

div#public-home h2, div#public-home h3 {
    font-family: "Montserrat","Montserrat Regular","Hevetica",Arial,sans-serif;
    line-height: normal;
    font-weight: 500;
    margin: 0;
}

div#public-home h2 {
    font-size: 80px !important;
    font-weight: 600;
    font-feature-settings: "kern" 1;
}

.ck-content .text-tiny {
    font-size: 0.7em;
}

.ck-content .text-small {
    font-size: 0.85em;
}

.ck-content .text-big {
    font-size: 1.4em;
}

.ck-content .text-huge {
    font-size: 1.8em;
}